<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="false"
         version="2.5">

    <display-name>REST API</display-name>

<!--    <resource-ref>-->
<!--        <res-ref-name>jdbc-programmer</res-ref-name>-->
<!--        <res-type>javax.sql.DataSource</res-type>-->
<!--    </resource-ref>-->
</web-app>
